/* Resetando alguns estilos padrões */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; /* Fundo mais suave */
  color: #333;
}

header {
  background: linear-gradient(135deg, #040d94, #0056b3); /* Gradiente */
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 2rem;
  text-align: center; /* Centraliza o texto do conteúdo principal */
}

section {
  background: #fff; /* Fundo branco para se destacar */
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra mais profunda */
  transition: transform 0.3s; /* Transição suave */
}

section:hover {
  transform: translateY(-5px); /* Levanta a seção ao passar o mouse */
}

h2 {
  color: #007bff; /* Cor dos títulos dos projetos */
  margin-bottom: 1rem; /* Espaçamento abaixo dos títulos */
}

a.show-details {
  background: #007bff; /* Cor de fundo azul */
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none; /* Remove o sublinhado */
  display: inline-block; /* Para que o padding funcione corretamente */
  margin-top: 1rem; /* Margem acima do botão */
  transition: background-color 0.3s; /* Transição suave */
}

a.show-details:hover {
  background: #0056b3; /* Tom mais escuro ao passar o mouse */
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #333; /* Cor de fundo do rodapé */
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%; /* Ocupa toda a largura */
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .dropdown-content {
    position: static; /* Altera o posicionamento para o menu dropdown em telas pequenas */
    display: block; /* Faz com que o menu seja exibido em lista */
  }

  .dropdown-content a {
    padding: 12px 16px; /* Mantém o padding consistente */
    width: 100%; /* Para que o menu ocupe toda a largura */
  }

  nav ul {
    display: none; /* Esconde o menu padrão em telas pequenas */
  }
}
